@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: theme(colors.slate.50);
  color: theme(colors.slate.900);
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: theme(colors.slate.950);
    color: theme(colors.slate.100);
  }
}