@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
    @apply text-gray-900 bg-white;
  }

  * {
    @apply box-border;
  }

  html {
    @apply h-full;
  }

  body {
    @apply h-full;
  }

  #root {
    @apply h-full;
  }
}